@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

@font-face {
    font-family: "SF Pro Display Black";
    src: url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff"), url("../fonts/SFProDisplay-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: local('Montserrat Alternates Regular'), local('Montserrat-Alternates-Regular'),
    url('../fonts/MontserratAlternates-Regular.woff2') format('woff2'),
    url('../fonts/MontserratAlternates-Regular.woff') format('woff'),
    url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');

    font-style: normal;
}
@font-face {
    font-family: 'Veneer Two';
    src:url("../fonts/VeneerTwo.ttf") format('truetype');

    font-style: normal;
    font-weight: normal;

}

@font-face {
    font-family: 'SF Pro Display';
    src: url("../fonts/SFProDisplay-Regular.ttf") format('truetype'),
    url("../fonts/SFProDisplay-Regular.woff") format("woff"),
    url("../fonts/SFProDisplay-Regular.woff2") format("woff2");

    font-style: normal;
    font-weight: normal;

}




*{
    padding: 0;
    margin: 0;

    border: 0;
    box-sizing: border-box;
}
body{
    background: #000000;
}
.menu-animation-experimental {
    z-index: 9999;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    overflow: hidden;
}
@keyframes menu-animation {
    0% {
        opacity: 0;
        transform: scale(0.04) translateY(300%);
    }
    40% {
        transform: scale(0.04) translateY(0);
        transition: ease-out;
    }
    40% {
        transform: scale(0.04) translateY(0);
    }
    60% {
        opacity: 1;
        transform: scale(0.02) translateY(0px);
    }
    61% {
        transform: scale(0.04);
    }
    99.9% {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }
    100% {
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}
.menu-animation-experimental .modal-content {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 30%;
    transform: translate3d(-50%, -50%, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    color: white;
}
.menu-animation-experimental .modal-content a {
    opacity: 0;
    text-align: center;
    text-decoration: none;
}
.menu-animation-experimental .modal-content a span {
    font-family: "SF Pro Display Black", sans-serif;
    font-size: 80px;
    font-weight: 900;
    line-height: 95px;
    margin: 20px 80px;
    -webkit-text-stroke: 1px #FFF;
    color: transparent;
    transition: all 0.5s ease-in-out;
}
.menu-animation-experimental .modal-content a:hover span {
    color: #FEDA0F;
    font-size: 84px;
    -webkit-text-stroke: 1px #FEDA0F;
}
.open .menu-animation-experimental .modal-content a {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transition-delay: 1s;
}
.menu-animation-experimental:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #181818;
    background-image: url("../img/modal-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04) translateY(9999px);
    overflow: hidden;
}
.open .menu-animation-experimental {
    top: 0;
}
.open .menu-animation-experimental:before {
    animation: menu-animation 0.8s ease-out forwards;
}
.menu-animation-experimental .close-modal {
    opacity: 0;
    z-index: 99999;
    position: fixed;
    top: 53px;
    right: 130px;
    cursor: pointer;
}
.menu-animation-experimental .close-modal img {
    width: 40px;
    height: 40px;
}
.open .menu-animation-experimental .close-modal {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transition-delay: 1s;
}


.flex-break {
    content: "";
    height: 0;
    width: 100%;
}
.block1{
    position: relative;
    display: flex;

    height: 100vh;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10%;

}
.page-number-right {
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
    position: absolute;
    top: 120px;
    right: 132px;
    text-align: center;
}
.page-number-right img {
    height: 80px;
}
.bgmoto{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

}
.motoCenter{
    position: absolute;
    z-index: 0;
    top:38px;
    left:50%;
    transform: translateX(-50%);
}
.b1-list-icon {
     position: absolute;
     top: 60px;
     right: 140px;
     cursor: pointer;
 }
.b1-list-icon img {
    width: 18px;
    height: 12px;
}
.SB{
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.verticalBContainer{



    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    /* identical to box height */


    color: #FFFFFF;



}
.verticalBContainer>button{
    border: 0;
    background: transparent;
    color: #FFFFFF;
    height: auto;
    width: auto;
    transition: 0.4s;
    transform-origin:center ;
    transform: rotate(-90deg);
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.verticalBContainer>button:hover {
    color:#FBF26B;
}
.textContainer{
    width: 100%;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 175px;
}
.c1{
    z-index: 1;
    position: relative;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;

    text-align: center;

    color: #FFFFFF;
}
.c1 div{
    margin:25px 0;
    font-family: "SF Pro Display Black",sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 80px;

    color: transparent;
    -webkit-background-clip: text;

    background-image: linear-gradient(180deg, #DCDFEE 26.25%, #7C7D83 100%);


}
.numbers{
    text-align: center;
    z-index: 1;
}
.numbers div{
    font-family: "Veneer Two",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 61px;
    color: transparent;
    -webkit-background-clip: text;

    background-image: linear-gradient(180deg, #DCDFEE 26.25%, #7C7D83 100%);
}
.numbers p{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 61px;
    color: transparent;
    -webkit-background-clip: text;

    background-image: linear-gradient(180deg, #DCDFEE 26.25%, #7C7D83 100%);
}
.block2{
    position: relative;
    height: 100vh;
}
.block2>p{
    text-align: center;
    font-family: "SF Pro Display Black" ,sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    color: transparent;
    -webkit-background-clip: text;

    background-image: linear-gradient(180deg, #DCDFEE 26.25%, #7C7D83 100%);
}
.b2backl{
    z-index: -3;
    position: absolute;
    top: 80px;
    left: 31%;
    font-family:"SF Pro Display Black",sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 250px;
    line-height: 61px;
    /* identical to box height, or 24% */


    color: #161616;
}
.b2leftmoto{
    z-index: -1;
    position: absolute;
    left: 0;
    top: 120px;
}
.b2rightmoto{
    z-index: -1;
    position: absolute;
    right: 0;
    top: -75px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.b2cardCont{
    margin-top: 45px;

    z-index: 2;
    display: grid;
    grid-template-rows:438px ;
    grid-template-columns:570px 570px;
    grid-column-gap: 19px;
    justify-content: center;
}
.b2card{

    padding: 45px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.b2card p{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */


    color: #FFFFFF;
    margin-bottom: 11px;
}
.b2card span{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    /* or 188% */


    color: #FFFFFF;
}
.b2card a{

    display: flex;
    width: 290px;
    height: 87px;

    text-decoration: none;
    border: 1px solid #FFFFFF;

   /* box-shadow: inset 0 0  10px 0 #FFFFFF, 0 0  10px 0 #FFFFFF;*/
    filter: drop-shadow(0px 0px 20px #FFFFFF);
    text-shadow: none;

    border-radius: 25px;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height, or 180% */

    align-items: center;
    justify-content: center;

    color: #FFFFFF;
}
.block3 {
    position: relative;
    margin-bottom: 10%;
}
.block3>p{
    text-align: center;
    font-family: "SF Pro Display Black",sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    color: transparent;
    -webkit-background-clip: text;

    background-image: linear-gradient(180deg, #DCDFEE 26.25%, #7C7D83 100%);
}
.b3cont{
    margin-top: 56px;

    z-index: 1;
    display: grid;
    grid-template-columns: 570px 570px;
    grid-template-rows: 447px 356px;
    grid-gap: 22px;
    justify-content: center;
}
.b3card{
    position: relative;
    background: #151616;
    border-radius: 29px;
    padding: 65px;
    font-family: SF Pro Display,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 45px;
    /* or 145% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.b3last{
    z-index: 3;
    grid-column: span 2;
    display: flex;
    align-items: center;
}
.footer{

}
.fcontent{
    position: relative;
    padding: 0 25% 12vh 25%;
}

.links {
    position: relative;
    display: flex;
    padding-left: 160px;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
}

.fbg {
    position: absolute;
    top: -35px;
    left: 0;
    width: 140px;
    height: 125px;
    filter: grayscale(1);
}
.links a{
    text-decoration: none;
    font-family: Montserrat Alternates,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.links a img{
margin-right: 24px;
}
.row1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

