@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff"), url("../fonts/SFProDisplay-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: local('Montserrat Alternates Regular'), local('Montserrat-Alternates-Regular'),
    url('../fonts/MontserratAlternates-Regular.woff2') format('woff2'),
    url('../fonts/MontserratAlternates-Regular.woff') format('woff'),
    url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');

    font-style: normal;
}

*{
    padding: 0;
    margin: 0;

    border: 0;
}
body {
    background-color: #181818;
    position: relative;
    overflow-x: hidden;
    color: #FFF;
    z-index: 0;
}
.flex-break {
    content: "";
    height: 0;
    width: 100%;
}

/*.modal-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
    background-color: #181818;
}
.modal-nav .close-modal {
    position: absolute;
    top: 53px;
    right: 130px;
    cursor: pointer;
}
.modal-nav .close-modal img {
    width: 40px;
    height: 40px;
}
.modal-nav .modal-content {
    align-self: center;
    width: 100%;
    height: 25%;
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.modal-nav .modal-content a {
    text-decoration: none;
}
.modal-nav .modal-content a span {
    font-family: "SF Pro Display", sans-serif;
    font-size: 80px;
    font-weight: 900;
    line-height: 95px;
    margin: 20px 80px;
    -webkit-text-stroke: 1px #FFF;
    color: transparent;
    transition: all 0.5s ease-in-out;
}
.modal-nav .modal-content a:hover span {
    color: #FEDA0F;
    font-size: 84px;
    -webkit-text-stroke: 1px #FEDA0F;
}*/

.menu-animation-experimental {
    z-index: 9999;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    overflow: hidden;
}
@keyframes menu-animation {
    0% {
        opacity: 0;
        transform: scale(0.04) translateY(300%);
    }
    40% {
        transform: scale(0.04) translateY(0);
        transition: ease-out;
    }
    40% {
        transform: scale(0.04) translateY(0);
    }
    60% {
        opacity: 1;
        transform: scale(0.02) translateY(0px);
    }
    61% {
        transform: scale(0.04);
    }
    99.9% {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }
    100% {
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}
.menu-animation-experimental .modal-content {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 30%;
    transform: translate3d(-50%, -50%, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    color: white;
}
.menu-animation-experimental .modal-content a {
    opacity: 0;
    text-align: center;
    text-decoration: none;
}
.menu-animation-experimental .modal-content a span {
    font-family: "SF Pro Display", sans-serif;
    font-size: 80px;
    font-weight: 900;
    line-height: 95px;
    margin: 20px 80px;
    -webkit-text-stroke: 1px #FFF;
    color: transparent;
    transition: all 0.5s ease-in-out;
}
.menu-animation-experimental .modal-content a:hover span {
    color: #FEDA0F;
    font-size: 84px;
    -webkit-text-stroke: 1px #FEDA0F;
}
.open .menu-animation-experimental .modal-content a {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transition-delay: 1s;
}
.menu-animation-experimental:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #181818;
    background-image: url("../img/modal-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04) translateY(9999px);
    overflow: hidden;
}
.open .menu-animation-experimental {
    top: 0;
}
.open .menu-animation-experimental:before {
    animation: menu-animation 0.8s ease-out forwards;
}
.menu-animation-experimental .close-modal {
    opacity: 0;
    z-index: 99999;
    position: fixed;
    top: 53px;
    right: 130px;
    cursor: pointer;
}
.menu-animation-experimental .close-modal img {
    width: 40px;
    height: 40px;
}
.open .menu-animation-experimental .close-modal {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transition-delay: 1s;
}


.flex-break {
    content: "";
    height: 0;
    width: 100%;
}
.block1{
    position: relative;
    min-height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.b1-list-icon {
    position: absolute;
    top: 60px;
    right: 140px;
    cursor: pointer;
}
.b1-list-icon img {
    width: 18px;
    height: 12px;
}
.background-img {
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 120%;
    z-index: -1;
}
.background-img-f{
    position: absolute;
    right: 0;
    bottom: 0;

    z-index: -1;
}
.SB{
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.verticalBContainer{



    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    /* identical to box height */


    color: #FFFFFF;



}
.verticalBContainer>button{
    border: 0;
    background: transparent;
    color: #FFFFFF;
    height: auto;
    width: auto;
    transition: 0.4s;
    transform-origin:center ;
    transform: rotate(-90deg);
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.verticalBContainer>button:hover {
    color:#FBF26B;
}
.emblem{
    position: absolute;
    width: 198px;
    height: 177px;
    left: 111px;
    top: 16px;


    opacity: 0.5;
}
.container1 {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.textContainer{

    padding: 10px;

}


.LetteringContainer{
    margin-top: 0;
    margin-bottom: 80px;
    z-index: 5;
    position: relative;
    font-family: "SF Pro Display",sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
    line-height: 61px;
}
.Lettering{

    /* identical to box height, or 68% */


    letter-spacing: 0.06em;

    color: #FFFFFF;
}
.BackLettering{
    position: absolute;
    top: 18px;
    left:20px;



    text-align: center;
    letter-spacing: 0.06em;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;

}
.desc{
    margin-bottom: 60px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 22px;
}

.b3-button-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 50px;
}
.skew-button-experimental {
    z-index: 15;
    margin-left: 15px;
    width: 261px;
    height: 71px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #FBF26B;
    transform: skewX(20deg);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    transition: all 0.5s ease;
}
.skew-button-experimental span {
    display: block;
    font-size: 18px;
    transform: skewX(-20deg);
    color: #FFF;
    transition: all 0.5s ease-in-out;
}
.skew-button-experimental:before {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-bottom: 71px solid #FBF26B;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    z-index: -1;
}
.skew-button-experimental:hover:before {
    transform: translateX(0);
}
.skew-button-experimental:hover span {
    color: #363636;
}

.intButton {
    position: absolute;
    left: 180px;
    bottom: 50px;
    width: 173px;
    height: 36px;
    margin-top: 108px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: 0;


    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    /* identical to box height */


    color: #FFFFFF;
    transition: 0.3s;
}
.intButton:hover{
    transform: translateX(10%);
    color: #FBF26B;
}

.whiteCircle{

    position: absolute;
    bottom: 5%;
    right: 10%;
    min-width: 590px;
    min-height: 590px;

    background: white;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0px 0px  15px black;
}
.whiteCircle>img{
    width: 341px;
    height: 468px;
    position: absolute;
    z-index: 20;
}
.whiteBlock{
    position: absolute;
    width: 200vh;
    height: 317.34px;
    top: 0;
    right: 0;


    z-index: 5;
    background: #FFFFFF;
    transform-origin:top right;
    transform: rotate(-35deg);

}
@media(max-width: 1400px){
    .whiteContainer{
        display: none;
    }
    .whiteCircle>img{
        display: none;
    }
    .whiteCircle{
        display: none;
    }
    .whiteBlock{
        display: none;
    }
}
@media (max-width:800px) {


    .container1{
        justify-content: center;
    }
    .emblem{
        display: none;
    }
    .SB{
        display: none;
    }
    .intButton{
        display: none;
    }

}
.trans{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 120px;



}
.trans img{
    height: 100%;
    width: 100%;
}
.out{
    transform: rotate(180deg);

}
.block2{
    position: relative;
    z-index: 10;
    height: 87vh;
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}
.block2C{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flush{
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 5;
}
.block2BG{
    z-index: 1;
    position: absolute;
    width: 873px;
    height: 536.81px;
    left: -48.93px;
    top: -50px;


}
.block2V{
    z-index: 0;
    position: absolute;
    width: 1300px;
    height: 401px;
    left: -124px;
    top: 280px;


}
.slide{
    margin: 400px 57px 0 57px;
    background: transparent;
    width: 16px;
    height: 45px;
    cursor: pointer;
    z-index: 10;
}
.b2-content {
    display: flex;
    justify-content: flex-end;

    align-items: center
}
.b2-content .b2-card-cont {

    margin-bottom: 28px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;


    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

}
/*.b2-content .b2-text-fake {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 519px;
    min-height: 535px;
    border: 1px solid #363636;
    background-color: #FFF;
    position: relative;
    left: 5%;
    top: 3%;
    z-index: 9;
}
.b2-content .b2-text {

    position: absolute;
    left: 5%;
    top: 3%;
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    width: 519px;
    height: 535px;
    border: 1px solid #363636;
    background-color: #FFF;
    color: #363636;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    z-index: 10;
}
.b2-content .b2-text .text-cont {
    box-sizing: border-box;
    padding: 75px 52px 58px 52px;

}
.b2-content .b2-text .text-cont p {
    color: #363636;
    font-size: 18px;
    line-height: 25px;
}
.b2-content .b2-text .text-cont .cardName{
    margin-top: 36px;
    font-family: Montserrat Alternates,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #363636;
}*/
.Forward{
    transform: translateX(1000px) !important;
}
.back{
    transform: translateX(-1000px);
}
.moved {
    width: 520px;
    height: 517px;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #181818;
    box-sizing: border-box;
    padding: 75px 52px 58px 52px;
    transition: 0.5s ;

}
.moved p {
    color: #363636;
    font-size: 18px;
    line-height: 25px;
}

.moved .cardName{
    margin-top: 36px;
    font-family: Montserrat Alternates,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #363636;
}
.card {
    width: 520px;
    height: 517px;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #181818;
    box-sizing: border-box;
    padding: 75px 52px 58px 52px;
    transition: 0.5s ;

}
.card p {
    color: #363636;
    font-size: 18px;
    line-height: 25px;
}
.card .cardName{
    margin-top: 36px;
    font-family: Montserrat Alternates,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #363636;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: Montserrat ,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.footer .footer-img-block img {
    width: 240px;
    height: 214px;
    filter: grayscale(1);
}
.footer .footer-sm-block {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.footer .footer-sm-block .sm-col {
    padding-bottom: 30px;
}
.footer .footer-sm-block .sm-col div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 0;
}
.footer .footer-sm-block .sm-col div img {
    width: 26px;
    height: 26px;
    margin-right: 15px;
    filter: invert(1);
}
.footer .footer-sm-block .sm-col div span {
    color: #FFF;
}

.footer-loc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-loc img {
    width: 26px;
    height: 26px;
    margin-right: 15px;
    filter: invert(1);
}
.footer-loc span {
    color: #FFF;
}

