@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Regular"), local("San-Francisco-Pro-Display-Regular"), url("fonts/SFProDisplay-Regular.woff2") format("woff2"), url("fonts/SFProDisplay-Regular.woff") format("woff"), url("fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Black";
  src: local("San Francisco Pro Display Black"), local("San-Francisco-Pro-Display-Black"), url("fonts/SFProDisplay-Black.woff2") format("woff2"), url("fonts/SFProDisplay-Black.woff") format("woff"), url("fonts/SFProDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: local("Montserrat Alternates Regular"), local("Montserrat-Alternates-Regular"), url("fonts/MontserratAlternates-Regular.woff2") format("woff2"), url("fonts/MontserratAlternates-Regular.woff") format("woff"), url("fonts/MontserratAlternates-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #181818;
  overflow-x: hidden;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
}

.block {
  padding: 50px 50px;
  position: relative;
  aspect-ratio: 36/17;
}

.background-img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 120%;
  z-index: -1;
}

.white-block {
  background: white;
}

.footer-block {
  padding: 50px 50px;
  position: relative;
  min-height: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

.flex-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-to-white {
  height: 126px;
}
.black-to-white img {
  width: 100%;
  height: 100%;
}

.white-to-black {
  height: 126px;
}
.white-to-black img {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.bg-transition-start {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.bg-transition-start img {
  width: 100%;
}

.flex-break {
  content: "";
  height: 0;
  width: 100%;
}

.modal-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
  background-color: #181818;
}
.modal-nav .close-modal {
  position: absolute;
  top: 53px;
  right: 130px;
  cursor: pointer;
}
.modal-nav .close-modal img {
  width: 40px;
  height: 40px;
}
.modal-nav .modal-content {
  align-self: center;
  width: 100%;
  height: 25%;
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.modal-nav .modal-content div {
  max-height: 80px;
  max-width: 630px;
}
.modal-nav .modal-content a {
  text-decoration: none;
}
.modal-nav .modal-content a span {
  font-family: "San Francisco Pro Black", sans-serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 95px;
  margin: 20px 80px;
  -webkit-text-stroke: 1px #FFF;
  color: transparent;
  transition: all 0.5s ease-in-out;
}
.modal-nav .modal-content a:hover span {
  color: #FEDA0F;
  font-size: 84px;
  -webkit-text-stroke: 1px #FEDA0F;
}

.menu-animation-experimental {
  z-index: 9999;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  overflow: hidden;
}
@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
.menu-animation-experimental .modal-content {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 30%;
  transform: translate3d(-50%, -50%, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  color: white;
}
.menu-animation-experimental .modal-content a {
  opacity: 0;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  padding: 20px 80px;
}
.menu-animation-experimental .modal-content a span {
  font-family: "San Francisco Pro Black", sans-serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 95px;
  -webkit-text-stroke: 1px #FFF;
  color: transparent;
  transition: all 0.5s ease-in-out;
}
.menu-animation-experimental .modal-content a:hover span {
  color: #FEDA0F;
  transform: scale(2);
  -webkit-text-stroke: 1px #FEDA0F;
}
.open .menu-animation-experimental .modal-content a {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transition-delay: 1s;
}
.menu-animation-experimental:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #181818;
  background-image: url("img/modal-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  transform: scale(0.04) translateY(9999px);
  overflow: hidden;
}
.open .menu-animation-experimental {
  top: 0;
}
.open .menu-animation-experimental:before {
  animation: menu-animation 0.8s ease-out forwards;
}
.menu-animation-experimental .close-modal {
  opacity: 0;
  z-index: 99999;
  position: fixed;
  top: 53px;
  right: 130px;
  cursor: pointer;
}
.menu-animation-experimental .close-modal img {
  width: 40px;
  height: 40px;
}
.open .menu-animation-experimental .close-modal {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transition-delay: 1s;
}

.skew-button {
  width: 261px;
  height: 71px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #FBF26B;
  transform: skewX(20deg);
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease;
}
.skew-button span {
  display: block;
  font-size: 18px;
  transform: skewX(-20deg);
  color: #FFF;
  transition: all 0.5s ease;
}
.skew-button:hover {
  background-color: #FBF26B;
}
.skew-button:hover span {
  color: black;
}

.skew-button-experimental {
  width: 261px;
  height: 71px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #FBF26B;
  transform: skewX(20deg);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease;
}
.skew-button-experimental span {
  display: block;
  font-size: 18px;
  transform: skewX(-20deg);
  color: #FFF;
  transition: all 0.5s ease-in-out;
}
.skew-button-experimental:before {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: 0;
  border-bottom: 71px solid #FBF26B;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
  z-index: -1;
}
.skew-button-experimental:hover:before {
  transform: translateX(0);
}
.skew-button-experimental:hover span {
  color: #363636;
}

.side-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.side-bar .side-bar-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}
.side-bar .bar-button {
  transform-origin: center;
  transform: rotate(-90deg);
}
.side-bar .bar-button a {
  text-decoration: none;
  color: #FFF;
  padding: 20px;
  transition: color 0.4s ease-in-out;
  font-weight: 500;
}
.side-bar .bar-button a:hover {
  color: #FBF26B;
}

.b1-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.b1-content .b1-img-block {
  margin-right: 40px;
}
.b1-content .b1-img-block img {
  height: 510px;
}
.b1-content .b1-text-block {
  padding: 30px;
  margin: 20px;
}
.b1-content .b1-text-block .b1-text-header {
  line-height: 61px;
  font-size: 45px;
  letter-spacing: 0.06em;
  color: #FFF;
  font-family: "San Francisco Pro Black", sans-serif;
}
.b1-content .b1-text-block .b1-text-header .dual-text-sec {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.01em #FFF;
  position: relative;
  left: 0.2em;
  bottom: 0.4em;
}
@media screen and (max-width: 1050px) {
  .b1-content .b1-text-block .b1-text-header {
    font-size: 36px;
  }
  .b1-content .b1-text-block .b1-text-header .dual-text-sec {
    left: 15px;
    bottom: 40px;
  }
}
@media screen and (max-width: 730px) {
  .b1-content .b1-text-block .b1-text-header {
    font-size: 32px;
  }
  .b1-content .b1-text-block .b1-text-header .dual-text-sec {
    left: 10px;
    bottom: 50px;
  }
}
@media screen and (max-width: 600px) {
  .b1-content .b1-text-block .b1-text-header .dual-text-sec {
    left: 10px;
    bottom: 55px;
  }
}
.b1-content .b1-text-block .b1-text-p {
  font-size: 18px;
  line-height: 25px;
  margin: 30px 0;
  max-width: 470px;
}

.b1-list-icon {
  position: absolute;
  top: 60px;
  right: 140px;
  cursor: pointer;
}
.b1-list-icon img {
  width: 18px;
  height: 12px;
}

.arr-button {
  position: absolute;
  bottom: 30px;
  left: 140px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.arr-button img {
  width: 173px;
  transition: all 0.5s ease-in-out;
}
.arr-button:hover {
  color: #FBF26B;
  transform: translateX(10%);
}
.arr-button:hover img {
  filter: sepia(75%) saturate(1600%) hue-rotate(323deg) brightness(110%) contrast(100%);
}

.b2-img {
  position: absolute;
  bottom: -20%;
  left: 0;
}

.shadow {
  position: absolute;
  width: 580px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 100%;
  box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.7);
}

.b2-header {
  line-height: 61px;
  font-size: 35px;
  letter-spacing: 0.06em;
  color: #363636;
  font-family: "San Francisco Pro Black", sans-serif;
  position: absolute;
  z-index: 1;
  left: 138px;
  top: 90px;
}
.b2-header .dual-text-sec {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.01em #363636;
  position: relative;
  left: 0.2em;
  bottom: 0.4em;
}
@media screen and (max-width: 1050px) {
  .b2-header {
    font-size: 36px;
  }
  .b2-header .dual-text-sec {
    left: 15px;
    bottom: 40px;
  }
}
@media screen and (max-width: 730px) {
  .b2-header {
    font-size: 32px;
  }
  .b2-header .dual-text-sec {
    left: 10px;
    bottom: 50px;
  }
}
@media screen and (max-width: 600px) {
  .b2-header .dual-text-sec {
    left: 10px;
    bottom: 55px;
  }
}

.bg-text {
  position: absolute;
  top: 80px;
  left: 180px;
  font-size: 150px;
  font-weight: 900;
  color: #F1F1F1;
  z-index: 0;
  font-family: "San Francisco Pro Black", sans-serif;
}

.bg-text-lg {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 100px;
  left: 120px;
  font-size: 280px;
  font-weight: 900;
  color: #F1F1F1;
}

.b2-content {
  display: flex;
  justify-content: center;
}
.b2-content .b2-card-cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70px;
  transition: all 0.5s ease-in-out;
}
.b2-content .b2-text {
  position: absolute;
  left: 5%;
  top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 519px;
  height: 535px;
  border: 1px solid #363636;
  background-color: #FFF;
  color: #363636;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  z-index: 10;
}
.b2-content .b2-text .text-cont {
  margin: 30px;
  height: 90%;
}
.b2-content .b2-text .text-cont div {
  display: flex;
  align-items: center;
  color: #363636;
  height: 80%;
  font-size: 18px;
  line-height: 25px;
}
.b2-content .b2-text .text-cont .card-button-cont {
  height: 20%;
  display: flex;
  justify-content: space-between;
}
.b2-content .b2-text .text-cont .b2-button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}
.b2-content .b2-text .text-cont .b2-button span {
  font-family: "San Francisco Pro Black", sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.03em #363636;
  transition: color 0.5s ease;
  cursor: pointer;
}
.b2-content .b2-text .text-cont .b2-button span:hover {
  color: #363636;
}

.b3-header {
  line-height: 61px;
  font-size: 35px;
  letter-spacing: 0.06em;
  color: #FFF;
  font-family: "San Francisco Pro Black", sans-serif;
  text-align: center;
}
.b3-header .dual-text-sec {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.01em #FFF;
  position: relative;
  left: 0.2em;
  bottom: 0.4em;
}
@media screen and (max-width: 1050px) {
  .b3-header {
    font-size: 36px;
  }
  .b3-header .dual-text-sec {
    left: 15px;
    bottom: 40px;
  }
}
@media screen and (max-width: 730px) {
  .b3-header {
    font-size: 32px;
  }
  .b3-header .dual-text-sec {
    left: 10px;
    bottom: 50px;
  }
}
@media screen and (max-width: 600px) {
  .b3-header .dual-text-sec {
    left: 10px;
    bottom: 55px;
  }
}

.b3-video-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  padding: 30px 0;
}
.b3-video-block iframe {
  border: 0;
  border-radius: 15px;
}
.b3-video-block button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.b3-video-block button img {
  width: 30px;
  height: 30px;
}

.b3-button-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.b4-content {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.b4-content .b4-flex-elem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #363636;
  margin: 20px;
  width: 1000px;
}

.bg-img {
  background-image: url("img/bg-temp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 903px;
}

.elem-left {
  transform: skewX(15deg);
  align-self: flex-start;
}
.elem-left .b4-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.elem-left .b4-img-cont img {
  width: 45px;
  height: 67px;
  filter: invert(1);
  transform: skewX(-15deg);
}
.elem-left p {
  font-family: "San Francisco Pro Black", sans-serif;
  font-size: 31px;
  line-height: 45px;
  width: 80%;
  margin: 50px;
  display: block;
  color: #363636;
  transform: skewX(-15deg);
}

.elem-right {
  transform: skewX(-15deg);
  align-self: flex-end;
}
.elem-right .b4-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.elem-right .b4-img-cont img {
  width: 45px;
  height: 67px;
  filter: invert(1);
  transform: skewX(15deg);
}
.elem-right p {
  font-family: "San Francisco Pro Black", sans-serif;
  font-size: 31px;
  line-height: 45px;
  width: 80%;
  margin: 50px;
  display: block;
  color: #363636;
  transform: skewX(15deg);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer .footer-img-block img {
  width: 240px;
  height: 214px;
  filter: grayscale(1);
}
.footer .footer-sm-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer .footer-sm-block .sm-col {
  padding-bottom: 30px;
}
.footer .footer-sm-block .sm-col div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 0;
}
.footer .footer-sm-block .sm-col div img {
  width: 26px;
  height: 26px;
  margin-right: 15px;
  filter: invert(1);
}
.footer .footer-sm-block .sm-col div span {
  color: #FFF;
}

.footer-loc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-loc img {
  width: 26px;
  height: 26px;
  margin-right: 15px;
  filter: invert(1);
}
.footer-loc span {
  color: #FFF;
}

.page-number-right {
  position: absolute;
  top: 120px;
  right: 132px;
  text-align: center;
}
.page-number-right img {
  height: 80px;
}

.page-number-black {
  color: #363636;
}
.page-number-black img {
  filter: invert(0.95);
}

@media screen and (max-width: 720px) {
  .side-bar {
    display: none;
  }

  .b1-text-header {
    font-size: 36px;
  }
}
@media screen and (max-width: 1200px) {
  .b3-sec-video {
    display: none;
  }

  .b3-prim-video {
    width: auto;
  }
}

/*# sourceMappingURL=cssbuild.css.map */
