@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


@font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SFProDisplay-Regular.woff2") format("woff2"), url("fonts/SFProDisplay-Regular.woff") format("woff"), url("fonts/SFProDisplay-Regular.ttf") format("truetype");
    font-style: normal;

}
@font-face {
    font-family: 'Montserrat Alternates';
    src: local('Montserrat Alternates Regular'), local('Montserrat-Alternates-Regular'),
    url('fonts/MontserratAlternates-Regular.woff2') format('woff2'),
    url('fonts/MontserratAlternates-Regular.woff') format('woff'),
    url('fonts/MontserratAlternates-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #606060;

}
.white{
    z-index: 23;

    position: absolute;
    height: 100%;
    width: 120%;
    top: 0;
    left: -65%;
    transform: skewX(20deg);
    background: #FFFFFF;

}
.logoImg{
    position: absolute;
    z-index: 25;
    width: 241px;
    height: 241px;
    left: 113px;
    top: 39px;

}
@media (max-width: 1200px)and (max-height: 1200px)  {
    .logoImg{
        display: none;
    }
    .backButton >img{
        display: none;
    }
    .backButton >p{
        display: none;
    }
    .backButton {
        display: none;
    }
}
@media (max-height: 700px) {
    #checkboxContainer{

        margin-top: 20px;
        margin-bottom: 15px;
    }
    #heading{
        margin-top: 25px;
        margin-bottom: 15px;
    }
    #buttonS{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
}
.backgroundImg{
    position:absolute;
    min-width: 60%;
    height: 100%;
    top:0;
    right: 0;

    opacity: 0.21;
    z-index: 20;
}
.backButton{

    z-index: 24;
    position: absolute;
    left: 140px;
    bottom: 107px;
    display: flex;
    flex-direction: column;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: #606060;
    text-align: center;
    cursor: pointer;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;

    border: 1px solid #E4E5E4;

    width: 488px;
    max-height: 80%;
    max-width: 85%;
    background: #FFFFFF;
}


.heading{
    height: auto;
    margin: 45px 0 22px 0 ;

    font-family: SF Pro Display,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}
.input{
    box-sizing: border-box;
    padding: 5px;
    margin: 14px 0 21px 0;
    border: 1px solid #E4E5E4;
    width: 437px;
    height: 73px;
    max-width: 100%;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #606060;

}
.checkboxContainer{
    display: flex;
    width: 90%;

    height: auto;
    margin: 43px 0 31px 0 ;

}
#rememberMe{

    position: absolute;
    z-index: -1;
    opacity: 0;

}
/* чекбокс */
.checkbox::before{
    content: '';
    display: inline-block;
    border: 1px solid #606060;
    box-sizing: border-box;
    height: 13px;
    width: 13px;
    margin-right: 13px  ;
    cursor: pointer;
}
#rememberMe:checked + label::before{
    background: blue;
}

/* чекбокс */
.forget{


    width: 90%;

    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;



    color: #606060;

}
.button{
    background: #CCCBCC;
    width: 435px;
    height: 71px;
    margin-bottom: 24px;
    border: 0;
    font-family: SF Pro Display,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    color: #FFFFFF;
    max-width: 95%;
}
.button:hover{
    background: #E4E5E4;
    cursor: pointer;
}
.account{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 38px;
    /* identical to box height, or 167% */


    color: #606060;
}