<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="css/mainS.css">
</head>
<body>
<div class="menu-animation-experimental">
    <div class="close-modal" onclick="hideModal()">
        <img src="img/close-img.png" alt="">
    </div>
    <div class="modal-content">
        <a href="{% url 'login' %}">
            <span>ВХОД</span>
        </a>
        <a href="">
            <span>ГЛАВНАЯ</span>
        </a>
        <a href="{% url 'reviews' %}">
            <span>ОТЗЫВЫ</span>
        </a>

        <div class="flex-break"></div>
        <a href="{% url 'about' %}">
            <span>О ПГМД</span>
        </a>
        <a href="">
            <span>КОНТАКТЫ</span>
        </a>
    </div>
</div>
<div class="block1">
    <div class="page-number-right">
        <p>01</p>
        <img src="img/page-line.svg" alt="">
    </div>
    <img class="bgmoto" src="img/motobgmain.png" alt="">
    <img class="motoCenter" src="img/moto1.png">
    <div class="b1-list-icon" onclick="showModal()">
        <img src="img/list.png" alt="">
    </div>
    <div class="SB">
        <div class="verticalBContainer">
            <button>Facebook</button>
            <button>YouTube</button>
            <button>VK</button>
            <button>Instagram</button>
        </div>
    </div>
    <div class="textContainer">
        <div class="numbers">
            <div>
                1130
            </div>
            <p>
                уроков
            </p>
        </div>
        <div class="c1">

            <p>
                Школа выживания
            </p>
            <div>
                ОНЛАЙН КУРСЫ
            </div>
            <p>
                Создаем водителей долгожителей из <br>
                участников дорожного движения
            </p>
        </div>
        <div class="numbers">
            <div>
                2540
            </div>
            <p>
                учеников
            </p>
        </div>
    </div>
</div>
<div class="block2">
    <p>
        НОВОСТИ
    </p>
    <div class="b2backl">
    НОВОСТИ
    </div>
    <img  class="b2leftmoto" src="img/b2moto.png" alt="">
    <img  class="b2rightmoto" src="img/b2moto.png" alt="">
    <div class="b2cardCont">
        <div class="b2card" style="background: #151616; ">
            <div>
                <p>
                    Мотошкола будущего
                </p>
                <span>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </span>
            </div>
            <a href="">
                Узнать подробнее
            </a>
        </div>
        <div class="b2card" style="background: transparent;">
            <div>
                <p>
                    Нефть и экология
                </p>
                <span>
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </span>
            </div>
            <a href="">
                Узнать подробнее
            </a>
        </div>
    </div>
</div>
<div class="block3">
    <p>
        FAQ
    </p>
    <div class="b3cont">
        <div class="b3card">
            Зачем нужен текст на странице в Интернете? Можно ли обойтись без него?
            <img src="img/b3-1cardwheel.png" style="position: absolute;bottom: 0px;right: 82px" alt=""alt="">
        </div>
        <div class="b3card">
            Не понравился <br>
            результат. У вас <br>
            предусмотрена <br>
            доработка и  <br>
            повторная <br>
            редакция? <br>
            <img src="img/b3-2cardwheel.png" style="position: absolute;top: 35px;right: 0px" alt="">
        </div>
        <div class="b3card b3last" >

            Зачем нужен текст на <br>
            странице в Интернете?<br>
            Можно ли обойтись без него?
            <img src="img/b3moto.png" alt="" style="position: absolute;top: -180px;right: -110px">
        </div>
    </div>
</div>
<div class="footer">
    <div class="fcontent">

        <div class="links">
            <img class="fbg" src="img/footer.png" alt="">
            <div class="row1"><a href="">
                <img src="img/Facebook.png" alt="">
                <span>@psycology</span>
            </a>
                <a href="">
                    <img src="img/VK.png" alt="">
                    <span>vk.com/psycology</span>
                </a>
                <a href="">
                    <img src="img/insta.png" alt="">
                    <span>@psycology</span>
                </a>
            </div>
            <a href="">
                <img src="img/Pointer.png" alt="">
                <span>Москва, Пр-т Машиноителей, 11Ф, модуль 37, 123408y</span>
            </a>
        </div>
    </div>
</div>
<script>


    function showModal() {
        let body = document.querySelector('body');
        body.classList.add('open');
    }

    function hideModal() {
        let body = document.querySelector('body');
        body.classList.remove('open');
    }
</script>

</body>
</html>