@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

$bg-color: #181818;
$text-color: #FFF;
$alt-color: #363636;
$muted-text: #F1F1F1;
$skew-button-border-color: #FBF26B;

@font-face {
  font-family: 'San Francisco Pro';
  src: local('San Francisco Pro Display Regular'), local('San-Francisco-Pro-Display-Regular'),
  url('fonts/SFProDisplay-Regular.woff2') format('woff2'),
  url('fonts/SFProDisplay-Regular.woff') format('woff'),
  url('fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro Black';
  src: local('San Francisco Pro Display Black'), local('San-Francisco-Pro-Display-Black'),
  url('fonts/SFProDisplay-Black.woff2') format('woff2'),
  url('fonts/SFProDisplay-Black.woff') format('woff'),
  url('fonts/SFProDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: local('Montserrat Alternates Regular'), local('Montserrat-Alternates-Regular'),
  url('fonts/MontserratAlternates-Regular.woff2') format('woff2'),
  url('fonts/MontserratAlternates-Regular.woff') format('woff'),
  url('fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@mixin bg-img($url, $size) {
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size;
}


@mixin dual-header($font-size, $color) {

  line-height: 61px;
  font-size: $font-size;
  letter-spacing: 0.06em;
  color: $color;

  font-family: 'San Francisco Pro Black', sans-serif;

  .dual-text-sec {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 0.01em  $color;

    position: relative;
    left: 0.2em;
    bottom: 0.4em;
  }

  @media screen and (max-width: 1050px){
    font-size: 36px;

    .dual-text-sec {
      left: 15px;
      bottom: 40px;
    }
  }

  @media screen and (max-width: 730px){
    font-size: 32px;

    .dual-text-sec {
      left: 10px;
      bottom: 50px;
    }
  }

  @media screen and (max-width: 600px){
    .dual-text-sec {
      left: 10px;
      bottom: 55px;
    }
  }
}

@mixin page-number($side) {
  position: absolute;
  top: 120px;
  #{$side}: 132px;

  text-align: center;

  img {
    height: 80px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  //color: $text-color;

  //font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $bg-color;
  overflow-x: hidden;

  color: $text-color;
  font-family: 'Montserrat', sans-serif;
}

.block {
  padding: 50px 50px;
  position: relative;
  aspect-ratio: 36 / 17;
}

.background-img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 120%;
  z-index: -1;
}

.white-block {
  background: white;

}

.footer-block {
  padding: 50px 50px;
  position: relative;
  min-height: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

.flex-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-to-white {
  height: 126px;
  img {
    width: 100%;
    height: 100%;
  }
}

.white-to-black {
  height: 126px;
  img {
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
  }
}

.bg-transition-start {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  img {
    width: 100%;
    //filter: grayscale(1);
  }
}

.flex-break {
  content: '';
  height: 0;
  width: 100%;
}

.modal-nav {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;

  overflow: hidden;

  background-color: $bg-color;


  .close-modal {
    position: absolute;
    top: 53px;
    right: 130px;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .modal-content {
    align-self: center;
    width: 100%;
    height: 25%;

    margin: 0 10%;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    div {
      max-height: 80px;
      max-width: 630px;

    }

    a {
      text-decoration: none;

      span {
        font-family: 'San Francisco Pro Black', sans-serif;
        font-size: 80px;
        font-weight: 900;
        line-height: 95px;
        margin: 20px 80px;

        -webkit-text-stroke: 1px $text-color;
        color: transparent;

        transition: all 0.5s ease-in-out;
      }

      &:hover {
        span {
          color: #FEDA0F;
          font-size: 80px * 1.05;
          -webkit-text-stroke: 1px #FEDA0F;
        }
      }
    }
  }
}

.menu-animation-experimental {
  z-index: 9999;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  overflow: hidden;

  @mixin position-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  @keyframes menu-animation {
    0% {
      opacity: 0;
      transform: scale(0.04) translateY(300%);
    }
    40% {
      transform: scale(0.04) translateY(0);
      transition: ease-out;
    }
    40% {
      transform: scale(0.04) translateY(0);
    }
    60% {
      opacity: 1;
      transform: scale(0.02) translateY(0px);
    }
    61% {
      transform: scale(0.04);
    }
    99.9% {
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
    100% {
      transform: scale(2);
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }
  }

  .modal-content {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 30%;
    transform: translate3d(-50%, -50%, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    color: white;

    a {
      opacity: 0;
      text-align: center;
      text-decoration: none;
      overflow: hidden;
      padding: 20px 80px;

      span {
        font-family: 'San Francisco Pro Black', sans-serif;
        font-size: 80px;
        font-weight: 900;
        line-height: 95px;

        -webkit-text-stroke: 1px $text-color;
        color: transparent;

        transition: all 0.5s ease-in-out;
      }

      &:hover {
        span {
          color: #FEDA0F;
          //font-size: 84px;
          transform: scale(2);
          -webkit-text-stroke: 1px #FEDA0F;
        }
      }

      .open & {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        transition-delay: 1s;
      }
    }
  }

  &:before {
    content: "";
    @include position-center;
    background-color: $bg-color;
    @include bg-img("img/modal-bg.png", 500px);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04) translateY(9999px);
    overflow: hidden;
  }
  .open & {
    top: 0;
    &:before {
      animation: menu-animation 0.8s ease-out forwards;
    }
  }

  .close-modal {
    opacity: 0;
    z-index: 99999;
    position: fixed;
    top: 53px;
    right: 130px;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
    }

    .open & {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: transform 0.2s ease-out, opacity 0.2s ease-out;
      transition-delay: 1s;
    }

  }


}

.skew-button {
  width: 261px;
  height: 71px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid $skew-button-border-color;
  transform: skewX(20deg);
  cursor: pointer;

  font-family: 'Montserrat', sans-serif;

  transition: all 0.5s ease;

  span {
    display: block;
    font-size: 18px;
    transform: skewX(-20deg);
    color: $text-color;

    transition: all 0.5s ease;
  }

  &:hover {
    background-color: $skew-button-border-color;
    span {
      color: black;
    }
  }
}

.skew-button-experimental {
  width: 261px;
  height: 71px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid $skew-button-border-color;
  transform: skewX(20deg);
  cursor: pointer;
  position: relative;
  overflow: hidden;

  font-family: 'Montserrat', sans-serif;

  transition: all 0.5s ease;

  span {
    display: block;
    font-size: 18px;
    transform: skewX(-20deg);
    color: $text-color;

    transition: all 0.5s ease-in-out;
  }

  @mixin absolute($t, $r, $b, $l) {
    position: absolute;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
  }

  &:before {
    content: '';
    @include absolute(0,-50px,0,0);
    border-bottom: 71px solid $skew-button-border-color;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    z-index: -1;
  }

  &:hover {

    &:before {
      transform: translateX(0);
    }

    span {
      color: $alt-color;
    }
  }
}

.side-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  .side-bar-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
  }


  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;



  .bar-button {

    transform-origin: center;
    transform: rotate(-90deg);

    a {
      text-decoration: none;
      color: $text-color;
      padding: 20px;
      transition: color 0.4s ease-in-out;

      font-weight: 500;

      &:hover {
        color: $skew-button-border-color;
      }
    }
  }
}

.b1-content {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  width: 100%;

  .b1-img-block {
    img {

      height: 510px;
    }

    margin-right: 40px;


  }

  .b1-text-block {
    padding: 30px;
    margin: 20px;

    .b1-text-header {
      @include dual-header(45px, $text-color);
    }

    .b1-text-p {
      font-size: 18px;
      line-height: 25px;
      margin: 30px 0;
      max-width: 470px;
    }
  }
}

.b1-list-icon {
  position: absolute;
  top: 60px;
  right: 140px;
  cursor: pointer;
  img {
    width: 18px;
    height: 12px;
  }
}

.arr-button {
  position: absolute;
  bottom: 30px;
  left: 140px;

  text-align: center;

  font-size: 18px;
  line-height: 22px;

  cursor: pointer;
  transition: all 0.5s ease-in-out;

  img {
    width: 173px;
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    color: $skew-button-border-color;
    transform: translateX(10%);

    img {
      filter: sepia(75%)
              saturate(1600%)
              hue-rotate(323deg)
              brightness(110%)
              contrast(100%)
    }
  }
}

.b2-img {
  position: absolute;
  bottom: -20%;
  left: 0;
}

.shadow {
  position: absolute;
  width: 580px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 100%;
  box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.7);
}

.b2-header {

  @include dual-header(35px, $alt-color);


  position: absolute;
  z-index: 1;
  left: 138px;
  top: 90px;
}

.bg-text {
  position: absolute;
  top: 80px;
  left: 180px;
  font-size: 150px;
  font-weight: 900;
  color: $muted-text;
  z-index: 0;

  font-family: 'San Francisco Pro Black', sans-serif;

}

.bg-text-lg {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 100px;
  left: 120px;
  font-size: 280px;
  font-weight: 900;
  color: $muted-text;
}

.b2-content {
  display: flex;
  justify-content: center;


  .b2-card-cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70px;
    transition: all 0.5s ease-in-out;
  }

  //.b2-text-fake {
  //
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //
  //  min-width: 519px;
  //  min-height: 535px;
  //  border: 1px solid $alt-color;
  //  background-color: $text-color;
  //
  //  position: relative;
  //  left: 5%;
  //  top: 3%;
  //
  //  z-index: 9;
  //}

  .b2-text {
    position: absolute;
    left: 5%;
    top: 3%;

    display: flex;
    justify-content: center;
    align-items: center;


    width: 519px;
    height: 535px;
    border: 1px solid $alt-color;
    background-color: $text-color;
    color: $alt-color;
    transform: translateX(0);

    transition: transform 0.5s ease-in-out;

    z-index: 10;

    .text-cont {
      margin: 30px;

      height: 90%;

      div {
        display: flex;
        align-items: center;
        color: $alt-color;
        height: 80%;
        font-size: 18px;
        line-height: 25px;
      }

      .card-button-cont {
        height: 20%;
        display: flex;
        justify-content: space-between;
      }

      .b2-button {

        border: 0;
        background-color: rgba(0, 0, 0, 0);


        span {

          font-family: 'San Francisco Pro Black', sans-serif;

          font-size: 50px;
          font-weight: 900;
          color: rgba(0, 0, 0, 0);
          -webkit-text-stroke: 0.03em $alt-color;

          transition: color 0.5s ease;

          cursor: pointer;

          &:hover {
            color: $alt-color;
          }
        }
      }
    }
  }
}

.b3-header {
  @include dual-header(35px, $text-color);
  text-align: center;
  //margin: 50px;
}

.b3-video-block {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 50px 0;
  padding: 30px 0;

  iframe {
    border: 0;
    border-radius: 15px;
  }

  button {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.b3-button-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  //margin: 50px;
}

.b4-content {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;

  .b4-flex-elem {
    display: flex;

    justify-content: space-around;
    align-items: center;
    border: 3px solid $alt-color;

    margin: 20px;

    width: 1000px;

  }
}

.bg-img {
  @include bg-img("img/bg-temp.jpg", 903px);
}

.elem-left {
  transform: skewX(15deg);
  align-self: flex-start;

  .b4-img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 45px;
      height: 67px;
      filter: invert(1);
      transform: skewX(-15deg);
    }
  }

  p {
    font-family: 'San Francisco Pro Black', sans-serif;
    font-size: 31px;
    line-height: 45px;

    width: 80%;

    margin: 50px;
    display: block;
    color: $alt-color;
    transform: skewX(-15deg);
  }
}
.elem-right {
  transform: skewX(-15deg);
  align-self: flex-end;

  .b4-img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 45px;
      height: 67px;
      filter: invert(1);
      transform: skewX(15deg);
    }
  }

  p {
    font-family: 'San Francisco Pro Black', sans-serif;
    font-size: 31px;
    line-height: 45px;

    width: 80%;

    margin: 50px;
    display: block;
    color: $alt-color;
    transform: skewX(15deg);
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;


  .footer-img-block {
    img {
      width: 240px;
      height: 214px;
      filter: grayscale(1);

    }
  }

  .footer-sm-block {
    display: flex;
    justify-content: flex-start;

    flex-wrap: wrap;

    .sm-col {

      padding-bottom: 30px;

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 10px 10px 10px 0;


        img {
          width: 26px;
          height: 26px;
          margin-right: 15px;
          filter: invert(1);
        }

        span {
          color: $text-color;
        }
      }
    }

  }
}

.footer-loc {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 26px;
    height: 26px;
    margin-right: 15px;
    filter: invert(1);
  }

  span {
    color: $text-color;
  }
}

.page-number-right {
  @include page-number(right);
}

.page-number-black {
  color: $alt-color;
  img {
    filter: invert(0.95);
  }
}


@media screen and (max-width: 720px) {
  .side-bar {
    display: none;
  }

  .b1-text-header {
    font-size: 36px;
  }
}

@media screen and (max-width: 1200px) {
  .b3-sec-video {
    display: none;
  }
  .b3-prim-video {
    width: auto;
  }
}