<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="css/ReviewsS.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="menu-animation-experimental">
    <div class="close-modal" onclick="hideModal()">
        <img src="img/close-img.png" alt="">
    </div>
    <div class="modal-content">
        <a href="{% url 'login' %}">
            <span>ВХОД</span>
        </a>
        <a href="">
            <span>ГЛАВНАЯ</span>
        </a>
        <a href="{% url 'reviews' %}">
            <span>ОТЗЫВЫ</span>
        </a>

        <div class="flex-break"></div>
        <a href="{% url 'about' %}">
            <span>О ПГМД</span>
        </a>
        <a href="">
            <span>КОНТАКТЫ</span>
        </a>
    </div>
</div>

<div class="whiteBlock"></div>

<div class="block1">
    <div class="b1-list-icon" onclick="showModal()">
        <img src="img/list.png" alt="">
    </div>
    <img class="background-img" src="img/background.png" alt="">
    <div class="SB">
        <div class="verticalBContainer">
            <button>Facebook</button>
            <button>YouTube</button>
            <button>VK</button>
            <button>Instagram</button>
        </div>
    </div>

    <img src="img/emblem.png" class="emblem">
    <button class="intButton">
        <span>Узнать подробнее</span>
        <img src="img/arr.png" style="width: 170px; height: 5px;" alt="">
    </button>



        <div class="whiteCircle">
            <img src="img/BackBook.png" style="top: 38px;left: 19px;">

            <img src="img/FrontBook.png" style="top:51px;right: 36px; ">
        </div>

    <div class="container1">


        <div class="textContainer">
            <div class="LetteringContainer">
                <span class="Lettering"> Отзывы</span>
                <span class="BackLettering">Отзывы</span>
            </div>


            <div class="desc">
                Обучение маневрированию по методике <br> мотополиции США и Японии,доказавшей
            </div>

                <button class="skew-button-experimental"><span>Оставить заявку</span></button>

        </div>


    </div>
</div>

<div class="trans" ><img src="img/mask.png" alt=""></div>


<div class="block2">
    <img class="flush"  src="img/yellowX.png" style="top:156px;right:43px ;">
    <img class="flush"  src="img/yellowX.png" style="bottom:60px;right:238px ;">
    <img class="flush"  src="img/yellowX.png" style="bottom:110px;left:250px ;">
    <img class="flush"  src="img/yellowX.png" style="top: 20px;left:550px ;">
    <img class="flush"  src="img/blackX.png" style="bottom:124px;left:34px ;">
    <img class="flush"  src="img/blackX.png" style="left: 567px;bottom: 234px">
    <img class="flush"  src="img/blackT.png" style="top:24px;right:152px ;">



    <img src="img/motoO.png" class="block2BG" alt="">
    <img src="img/Vector%2075.png" class="block2V">

    <div class="block2C">
        <div class="b2-content">
            <button class="slide" onclick="moveBack()"><img src="img/left.png" alt=""></button>
            <div class="b2-card-cont" style="width: 648px;height:577px ">
                <div class="card" style="z-index: 10;bottom: 0;right: 0;">

                        <p>
                            1

                        </p>
                        <p class="cardName">
                            Александра Макарова,<br>
                            Харьков
                        </p>

                </div>
                <div class="card" style="z-index: 9;bottom:  15px;right: 32px;">

                    <p>
                        2

                    </p>
                    <p class="cardName">
                        Александра Макарова,<br>
                        Харьков
                    </p>

                </div>
                <div class="card" style="z-index: 8;bottom: 30px;right: 64px;">

                    <p>
                        3

                    </p>
                    <p class="cardName">
                        Александра Макарова,<br>
                        Харьков
                    </p>

                </div>
                <div class="card" style="z-index: 7;bottom: 45px;right: 96px;">

                    <p>
                        4

                    </p>
                    <p class="cardName">
                        Александра Макарова,<br>
                        Харьков
                    </p>

                </div>
                <div class="card" style="z-index: 1;">

                    <p>
                        5
                        Больше двух месяцев назад я пришла в чат <br>
                        братства В шлеме. Когда <br>
                        я поняла, что примерно будет <br>
                        представлять собой проект (выполнение <br>
                        неких заданий + общение), меня захватил <br>
                        азарт, без особого понимания <br>
                        принесет ли проект что-то в мою жизнь <br>
                        или нет. Но сейчас могу смело <br>
                        сказать, что некие изменения в моем <br>
                        сознании произошли. <br>
                        Дело в том, что я – эгоист в обучении, не <br>
                        люблю тянуть...
                    </p>
                    <p class="cardName">
                        Александра Макарова,<br>
                        Харьков
                    </p>

                </div>
                <!--<div class="b2-text" style="top:0;left: 0">
                    <div class="b2-text-fake">
                        <div class="text-cont">
                            <p>
                                Я решил пойти дальше и создал онлайн-выживание «ПГМД» («Психология Гражданского
                                Мотоциклиста Долгожителя»), чтобы провести тебя, мой дорогой друг, через весь свой
                                огромный опыт. Опыт того, кто прошёл путь от идиота за рулём ТС, до человека,
                                разработавшего систему обучения в мотошколах, которые успешно работают 10 лет
                                во всех крупных городах Украины.
                            </p>

                        </div>
                        <div class="b2-text movable">
                            <div class="text-cont">
                                <p>
                                    Больше двух месяцев назад я пришла в чат <br>
                                    братства В шлеме. Когда <br>
                                    я поняла, что примерно будет <br>
                                    представлять собой проект (выполнение <br>
                                    неких заданий + общение), меня захватил <br>
                                    азарт, без особого понимания <br>
                                    принесет ли проект что-то в мою жизнь <br>
                                    или нет. Но сейчас могу смело <br>
                                    сказать, что некие изменения в моем <br>
                                    сознании произошли. <br>
                                    Дело в том, что я – эгоист в обучении, не <br>
                                    люблю тянуть...
                                </p>
                                <p class="cardName">
                                    Александра Макарова,<br>
                                    Харьков
                                </p>

                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <button class="slide" onclick="moveForward()"><img src="img/right.png" alt=""></button>

        </div>
        <button class="skew-button-experimental" style="border: 2px solid #363636;"><span style="color:#363636;">Оставить отзыв</span>
        </button>
    </div>
</div>






<div class="footerContainer" style="padding-top: 0; padding-bottom: 10px">
    <div class="trans out" ><img src="img/mask.png" alt=""></div>
    <img class="background-img-f" src="img/background.png" alt="">

    <div class="footer">
        <div class="footer-img-block">
            <img src="img/footer.png" alt="">
        </div>
        <div>
            <div class="footer-sm-block">
                <div class="sm-col">
                    <div>
                        <img src="img/instagram.png" alt="">
                        <span>@psycology</span>
                    </div>
                    <div>
                        <img src="img/instagram.png" alt="">
                        <span>@psycology</span>
                    </div>
                </div>
                <div class="sm-col">
                    <div>
                        <img src="img/instagram.png" alt="">
                        <span>@psycology</span>
                    </div>
                    <div>
                        <img src="img/instagram.png" alt="">
                        <span>@psycology</span>
                    </div>
                </div>
            </div>
            <div class="footer-loc">
                <img src="img/instagram.png" alt="">
                <span>
                Москва, Пр-т Машиноителей, 11Ф, модуль 37, 123408
            </span>
            </div>
        </div>
    </div>

</div>

</div>
<script>
    let curCardIndex = 0;
    function moveForward() {
        let card = document.querySelector('.card');

        if (curCardIndex === 4) return;

        card.classList.remove("card");
        card.classList.remove("Back");
        card.classList.add("moved");
        card.classList.add("Forward");

        console.log(curCardIndex);

        curCardIndex++;

        let cardList = document.querySelectorAll('.card');
        cardList.forEach((item) => {
            if (item !== card) {
                item.style.transform = `translate(${32 * (curCardIndex)}px, ${15 * (curCardIndex)}px)`;
            }
        });



    }
    function moveBack() {
        let NodeList = document.querySelectorAll('.moved');
        let card=NodeList.item(NodeList.length-1);

        if (curCardIndex === 0) return;

        card.classList.remove("moved");
        card.classList.remove("Forward");
        card.classList.add("card");
        card.classList.add("Back");

        curCardIndex--;

        let cardList = document.querySelectorAll('.card');
        cardList.forEach((item) => {
            if (item !== card) {
                item.style.transform = `translate(${32 * (curCardIndex)}px, ${15 * (curCardIndex)}px)`;
            }
        });
    }

    function showModal() {
        let body = document.querySelector('body');
        body.classList.add('open');
    }

    function hideModal() {
        let body = document.querySelector('body');
        body.classList.remove('open');
    }
</script>

</body>
</html>
