<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/LoginS.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="white"></div>

    <img src="{% static 'img/modal-bg.png' %}" class="logoImg" alt=""/>

    <img src="{% static 'img/driver.png' %}"  class="backgroundImg"/>


    <a class="backButton" href="{% url 'main' %}">
        <p>Вернуться назад</p>

        <img src="{% static 'img/svg-editor-image.svg' %}" alt=""/>

    </a>


    <form class="form" method="post">
        <div class="heading" id="heading">Введите новый пароль</div>
        {% csrf_token %}
        <div style="width: 90%"><label>Новый пароль:</label>
            {{form.new_password1}}
        </div>
        <div style="width: 90%"><label>Подтвердите пароль:</label>
            {{form.new_password2}}
        </div>
        <div style="padding:5px 30px;">{{form.new_password2.errors}}</div>

        <input type="submit" class="button" value="Изменить пароль" />


    </form>


</div>

</body>
</html>