<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/cssbuild.css' %}">
</head>
<body>

    <div class="menu-animation-experimental">
        <div class="close-modal" onclick="hideModal()">
            <img src="{% static 'img/close-img.png' %}" alt="">
        </div>
        <div class="modal-content">
            <a href="{% url 'login' %}">
                <span>ВХОД</span>
            </a>
            <a href="{% url 'main' %}">
                <span>ГЛАВНАЯ</span>
            </a>
            <a href="{% url 'reviews' %}">
                <span>ОТЗЫВЫ</span>
            </a>
            <div class="flex-break"></div>
            <a href="{% url 'about' %}">
                <span>О ПГМД</span>
            </a>
            <a href="">
                <span>КОНТАКТЫ</span>
            </a>
        </div>
    </div>

    <div class="block flex-block">

        <img class="background-img" src="{% static 'img/background.png' %}" alt="">
        <div class="page-number-right">
            <p>01</p>
            <img src="{% static 'img/page-line.svg' %}" alt="">
        </div>
        <div class="b1-list-icon" onclick="showModal()">
            <img src="{% static 'img/list.png' %}" alt="">
        </div>
        <div class="side-bar">
            <div class="side-bar-cont">
                <div class="bar-button"><a href="">Facebook</a></div>
                <div class="bar-button"><a href="">Youtube</a></div>
                <div class="bar-button"><a href="">VK</a></div>
                <div class="bar-button"><a href="">Instagram</a></div>
            </div>
        </div>
        <div class="b1-content">
            <div class="b1-img-block">
                <img src="{% static 'img/b1-book.png' %}" alt="">
            </div>
            <div class="b1-text-block">
                <div class="b1-text-header">
                    <h1 class="dual-text-prim">Курс “ПГМД”</h1>
                    <h1 class="dual-text-sec">Курс “ПГМД”</h1>
                </div>
                <p class="b1-text-p">Безопасность - основа нашего курса, мы готовим водителей - долгожителей, мотоциклистов.</p>
                <button class="skew-button-experimental"><span>Записаться на курс</span></button>
            </div>
        </div>
        <div class="arr-button">
            <p>Узнать подробнее</p>
            <img src="{% static 'img/arr.png' %}" alt="">
        </div>
    </div>

    <div class="black-to-white">
        <img src="{% static 'img/mask.png' %}" alt="">
    </div>
    
    <div class="block white-block">

        <div class="page-number-right page-number-black">
            <p>02</p>
            <img src="{% static 'img/page-line.svg' %}" alt="">
        </div>

        <div class="b2-header">
            <h1 class="dual-text-prim">О нас</h1>
            <h1 class="dual-text-sec">О нас</h1>
        </div>
        <h1 class="bg-text">О нас</h1>
        <img class="b2-img" src="{% static 'img/b2-bike2.png' %}" alt="">
        <!-- <div class="shadow"></div> -->
        <div class="b2-content">
            <div class="b2-card-cont">
                <div class="b2-text">
                    <div class="b2-text">
                        <div class="text-cont">
                            <div>
                                Я решил пойти дальше и создал онлайн-выживание «ПГМД» («Психология Гражданского
                                Мотоциклиста Долгожителя»), чтобы провести тебя, мой дорогой друг, через весь свой
                                огромный опыт. Опыт того, кто прошёл путь от идиота за рулём ТС, до человека,
                                разработавшего систему обучения в мотошколах, которые успешно работают 10 лет
                                во всех крупных городах Украины.
                            </div>
                            <div class="card-button-cont">
                                <button class="b2-button" onclick="moveCard(0)"><span>НАЗАД...</span></button>
                            </div>
                        </div>
                        <div class="b2-text movable">
                            <div class="text-cont">
                                <div>
                                    Меня зовут Андрей Гав. Я помогаю участникам дорожного движения прожить длинную и
                                    счастливую жизнь. Благодаря моим видео на Ютубе, тысячи водителей пришли к
                                    осознанному вождению, анализируя всевозможные ситуации и снижая риски.
                                    Создавая первые выпуски «Разбор Полётов», я увидел огромное количество
                                    единомышленников, которым катастрофически не хватало знаний и информации.
                                    Со временем понял, что формат передачи информации с помощью виде на Ютубе,
                                    не справляется с поставленными задачами.
                                </div>
                                <div class="card-button-cont">
                                    <button class="b2-button" onclick="moveCard(1000)"><span>ДАЛЕЕ...</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="white-to-black">
        <img src="{% static 'img/mask.png' %}" alt="">
    </div>

    <div class="block">

        <img class="background-img" src="{% static 'img/background.png' %}" alt="">

        <div class="page-number-right">
            <p>03</p>
            <img src="{% static 'img/page-line.svg' %}" alt="">
        </div>

        <div class="b3-header">
            <h1 class="dual-text-prim">Видео</h1>
            <h1 class="dual-text-sec">Видео</h1>
        </div>
        <div class="b3-video-block">
            <button class="b3-prev-button">
                <img src="{% static 'img/prev.svg' %}" alt="">
            </button>
            <div class="b3-sec-video">
                <iframe width="270" height="163" src="https://www.youtube.com/embed/i__FKHQ_fNw"
                        title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            <div class="b3-prim-video">
                <iframe width="508" height="305" src="https://www.youtube.com/embed/d8SXrmzM8vc"
                        title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            <div class="b3-sec-video">
                <iframe width="270" height="163" src="https://www.youtube.com/embed/0iNgXGGcTIw"
                        title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            <button class="b3-next-button">
                <img src="{% static 'img/next.svg' %}" alt="">
            </button>
        </div>
        <div class="b3-button-cont">
            <button class="skew-button-experimental"><span>Оставить заявку</span></button>
        </div>
    </div>
    
    <div class="black-to-white">
        <img src="{% static 'img/mask.png' %}" alt="">
    </div>

    <div class="block white-block flex-block bg-img">

        <div class="page-number-right page-number-black">
            <p>04</p>
            <img src="{% static 'img/page-line.svg' %}" alt="">
        </div>

        <div class="b2-header">
            <h1 class="dual-text-prim">FAQ</h1>
            <h1 class="dual-text-sec">FAQ</h1>
        </div>


        <div class="b4-content">
            <div class="b4-flex-elem elem-left">
                <p>Зачем нужен текст на странице в Интернете? Можно ли обойтись без него?</p>
                <div class="b4-img-cont"><img src="{% static 'img/next.svg' %}" alt=""></div>
            </div>
            <div class="b4-flex-elem elem-right">
                <p>Не понравился результат. У вас предусмотрена доработка и повторная редакция?</p>
                <div class="b4-img-cont"><img src="{% static 'img/next.svg' %}" alt=""></div>
            </div>
        </div>
    </div>

    <div class="white-to-black">
        <img src="{% static 'img/mask.png' %}" alt="">
    </div>

    <div class="block footer-block" style="padding-top: 0; padding-bottom: 10px">
        <div class="footer">
            <div class="footer-img-block">
                <img src="{% static 'img/footer.png' %}" alt="">
            </div>
            <div>
                <div class="footer-sm-block">
                    <div class="sm-col">
                        <div>
                            <img src="{% static 'img/instagram.png' %}" alt="">
                            <span>@psycology</span>
                        </div>
                        <div>
                            <img src="{% static 'img/instagram.png' %}" alt="">
                            <span>@psycology</span>
                        </div>
                    </div>
                    <div class="sm-col">
                        <div>
                            <img src="{% static 'img/instagram.png' %}" alt="">
                            <span>@psycology</span>
                        </div>
                        <div>
                            <img src="{% static 'img/instagram.png' %}" alt="">
                            <span>@psycology</span>
                        </div>
                    </div>
                </div>
                <div class="footer-loc">
                    <img src="{% static 'img/instagram.png' %}" alt="">
                    <span>
                Москва, Пр-т Машиноителей, 11Ф, модуль 37, 123408
            </span>
                </div>
            </div>
        </div>

    </div>

    <script>
        function moveCard(value) {
            let card = document.querySelector('.movable');

            card.style = `transform: translateX(${value}px)`;
        }

        function showModal() {
            let body = document.querySelector('body');
            body.classList.add('open');
        }

        function hideModal() {
            let body = document.querySelector('body');
            body.classList.remove('open');
        }
    </script>

</body>
</html>