<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/LoginS.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="white"></div>
    <img src="{% static 'img/modal-bg.png' %}" class="logoImg" alt=""/>

    <img src="{% static 'img/driver.png' %}"  class="backgroundImg"/>


    <a class="backButton" href="{% url 'main' %}">
        <p>Вернуться назад</p>

        <img src="{% static 'img/svg-editor-image.svg' %}" alt=""/>

    </a>


    <form class="form" method="post">
        <div class="heading" id="heading">Регистрация:</div>
        {% csrf_token %}


        <div style="width: 90%"><label>Эл. почта:</label>
            {{form.username}}

        </div>
            <div>{{errors.username}}</div>
        <div style="width: 90%"><label>Пароль:</label>
            {{form.password}}
        </div>
            <div>{{errors.password}}</div>
        <div class="checkboxContainer" id="checkboxContainer">

            <input type="checkbox" name="checkbox" id="rememberMe"/>
            <label class="checkbox" for="rememberMe"></label>


            <label> Запомнить меня</label>

        </div>

        <input type="submit" class="button" id="buttonS" value="Зарегистрироваться"/>
        <a href="{% url 'login' %}" class="account">Уже есть аккаунт?</a>

    </form>


</div>

</body>
</html>