<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{% static 'css/LoginS.css' %}">
</head>
<body>
<div class="wrapper">
  <div class="white"></div>
  <img src="{% static 'img/modal-bg.png' %}" class="logoImg" alt=""/>

  <img src="{% static 'img/driver.png' %}"  class="backgroundImg"/>


  <a class="backButton" href="{% url 'main' %}">
    <p>Вернуться назад</p>

    <img src="{% static 'img/svg-editor-image.svg' %}" alt=""/>

  </a>

  <form class="form" style="justify-content: center; align-items: center;">

    <div class="heading" id="heading">Письмо отправлено</div>
    <!--
    <div style="width: 90%"><label>Эл. почта:</label>
      <input class="input" type="text" name="email"
      />
    </div>

    <input type="submit" class="button" value="Отправить" id="buttonS"/>
    -->
    <div style="margin-bottom: 38px">
      <p>
        На вашу почту была отправлена инструкция
      </p>
    </div>
  </form>


</div>

</body>
</html>